<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}颜sirAI工具合集{% endblock %}</title>
    {% assets 'scss_all' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header>
        {% include 'navigator.jinja2' %}
    </header>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <script type="module" src="{{ url_for('static', filename=js_file) }}"></script>
    </footer>
</body>

</html>