{% from 'macro.jinja2' import qa_macro, title_macro, insertBtns %}

{% extends 'base.jinja2' %}
{% block content %}
<script src="//unpkg.com/xdomain@0.8.2/dist/xdomain.min.js" master="http://127.0.0.1:5000/mj-md"></script>
{{ title_macro('ChatGPT预训练', '先描述用户画像并填写自己生意的重要信息') }}
{{ qa_macro(form_data) }}

{% endblock %}