{% from 'macro.jinja2' import qa_macro, title_macro, insertBtns %}

{% extends 'base.jinja2' %}
{% block content %}

{{ title_macro('','') }}
<div class="index-container">
    {% for item in g.navigator_items %}
    <a class="index-item" href="{{ url_for(item.route) }}"><span>{{ item.text }}</span></a>
    {% endfor %}
</div>

{% endblock %}