{% macro title_macro(title, description) %}
<div class="title-container">
    {% if title %}<h1 class="page-title">{{ title }}</h1>{% endif %}
    {% if description %}<div class="page-description"><span>{{ description }}<span></div>{% endif %}
</div>
{% endmacro %}

{% macro qa_macro(form_data, formPo=0) %}
<div id="container">
    <div class="form-container"{% if formPo %} style="order:{{ formPo }}"{% endif %}>
        <form id="form">
            {% for field in form_data %}
                {% set tag = field.pop('tag') %}
                {% set label = field.pop('label', None) %}
                
                {% if label %}
                    <label for="{{ field['name'] or field['id'] }}">{{ label }}</label>
                {% endif %}
                
                <{{ tag }}
                    {% for key, value in field.items() %}
                        {{ key }}="{{ value }}"
                    {% endfor %}
                    {% if tag in ['input', 'img', 'br'] %}
                        />
                    {% else %}
                        {% if tag == 'textarea' %}
                        {% endif %}
                        ></{{ tag }}>
                    {% endif %}
            {% endfor %}
        </form>
    </div>
    <div id="response-container"></div>
</div>
<div id="loader"></div>
{% endmacro %}