// Variables
$primary-color: #333;
$secondary-color: #555;
$background-color: #f8f8f8;
$text-color: #333;
$font-family: Arial, sans-serif;
$font-size-default: 18px;
$transition-duration: 0.2s;
$mobile-breakpoint: 767px;
$shadow-color: rgba(0, 0, 0, 0.1);
$card-spacing: 20px;

// Typography
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $primary-color;
    font-size: clamp(14px, 2vw, 18px);
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: clamp(32px, 4vw, 48px);
}

p {
    text-align: left;
    font-size: clamp(16px, 2.5vw, 20px);
}

.page-description {
    text-align: center;
    font-size: clamp(16px, 2.5vw, 20px);
}

// Navigation
.navigator {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    overflow: hidden;

    li {
        float: left;

        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }
}

// Navigator burger menu
.hamburger {
    display: none;
    background: #333;
    border: none;
    font-size: 30px;
    color: white;
    padding: 14px 16px;
    cursor: pointer;
    margin-left: auto;

    &:hover {
        background-color: $secondary-color;
    }
}

@media (max-width: $mobile-breakpoint) {
    .navigator {
        li {
            display: none;
        }

        &.active {
            li {
                display: block;
            }
        }
    }

    .hamburger {
        display: block;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 700px;
    gap: $card-spacing;
    width: calc(100% - 2 * $card-spacing);
    margin: 0 auto;
    height: 100vh;

    .index-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 4px 6px $shadow-color;
        width: calc(25% - #{$card-spacing});
        height: 150px;
        margin-bottom: $card-spacing;
        border-radius: 5px;
        text-decoration: none;
        span {
            font-size: 20px;
            color: $primary-color;
        }

        &:hover {
            box-shadow: 0 6px 8px $shadow-color;
            transform: translateY(-3px);
            transition: all 0.3s ease;
            font-weight: bold;
        }
    }
}

// Media query for mobile devices
@media (max-width: $mobile-breakpoint) {
    .index-item {
        width: calc(50% - #{$card-spacing});
    }
}

// Loader
#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid $primary-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// Images
img {
    max-width: 100%;
    margin-bottom: 20px;
}

// Main ontainer
#container {
    display: flex;
    flex-direction: column;
}

@media (max-width: $mobile-breakpoint) {
    #container {
        padding: 20px;
    }
}

// Forms
form {
    margin: 50px auto;
    max-width: 600px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px $shadow-color;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-default;
    color: $text-color;

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        width: 100%;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: $primary-color;
        }

        &:invalid {
            border-color: red;
        }
    }

    input[type="submit"],
    button[type="submit"] {
        padding: 12px 24px;
        background-color: $primary-color;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color $transition-duration ease-in-out;
        width: 100%;

        &:hover {
            background-color: $secondary-color;
        }
    }

    .hint {
        font-size: 12px;
        color: green;
        font-weight: normal;
    }
}

@media (max-width: $mobile-breakpoint) {
    form {
        padding: 20px;
    }
}

// Response container
#response-container {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px $shadow-color;
    font-size: $font-size-default;
    line-height: 1.5;
    display: none;
    box-sizing: border-box;

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    h1 {
        text-align: center;
        margin-top: 0;
        font-size: 32px;
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 20px;
        font-size: clamp(14px, 2.5vw, 18px);
        text-align: left;
        margin: 0 0 20px 0;
    }

    .highlight {
        background-color: #FFD700;
    }
}

@media (max-width: $mobile-breakpoint) {
    #response-container {
        padding: 20px;
    }
}


.btns {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn {
    display: block;
    padding: 5px 10px;
    margin-left: 3px;
    float: left;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: #555;
    }
}